MONGO_URI=your_connection_string_here
PORT=your_port_no_here
FRONTEND_URL=your_frontend_url_here
FIREBASE_KEY_PATH=./server/serviceAccountKey.json
SUPER_ADMIN_UID=your-firebase-uid
SUPER_ADMIN_NAME=super-admin-name
